{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todos los contactos</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableContactos">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">Nombre</a></th>
                    <th class="table-head"><a href="#">Apellido</a></th>
                    <th class="table-head"><a href="#">Empresas</a></th>
                    <th class="table-head"><a href="#">Área</a></th>
                    <th class="table-head"><a href="#">Email</a></th>
                    <th class="table-head"><a href="#">Estatus</a></th>
                    <th class="table-head"><a href="#">Calificación</a></th>
                    <th class="table-head"><a href="#">Encargado</a></th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos_list %}
                    <tr>
                        <td><a href="{% url 'contactos:contacto' contacto.slug %}">{{ contacto.nombre }}</a></td>
                        <td>{{ contacto.apellido }}</td>
                        {% if not contacto.empresa.all %}
                            <td></td>
                        {% else %}
                            <td>{{ contacto.empresa.all|join:", " }}</td>
                        {% endif %}
                        <td>{{ contacto.pertenece_set.get.area }}</td>
                        <td>{{ contacto.correo_electronico }}</td>
                        {% if contacto.is_cliente %}
                            <td>Cliente</td>
                        {% else %}
                            <td>Prospecto</td>
                        {% endif %}
                        
                        <td>{{ contacto.calificacion }}</td>
                        <td>
                            {% for atiende in contacto.atiende_set.all %}
                                {% if forloop.last %}
                                    {{ atiende.vendedor }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!--<script type="text/javascript">
        $('#txt_search_contactos').keyup(function(){
            var texto;
            texto = $(this).val();
            $.get("{% url 'contactos:search_contactos' %}", {'texto' : texto}, function(data) {
                $('#tabla_contactos').html(data);
            });
        });
    </script>-->

{% endblock content%}