{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todos los contactos</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row pull-right">
            <form action="search_contactos" class="form-horizontal">
                <div class="col-sm-8 col-xs-8">
                    <input type="text" class="form-control" id="txt_search_contactos">
                </div>
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-right">Buscar</button>
                </div>
            </form>
        </div>
            
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="example">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">Nombre</a></th>
                    <th class="table-head"><a href="#">Apellido</a></th>
                    <th class="table-head"><a href="#">Empresas</a></th>
                    <th class="table-head"><a href="#">Área</a></th>
                    <th class="table-head"><a href="#">Email</a></th>
                    <th class="table-head"><a href="#">Estatus</a></th>
                    <th class="table-head"><a href="#">Calificación</a></th>
                    <th class="table-head"><a href="#">Encargado</a></th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos_list %}
                    <tr>
                        <td><a href="{% url 'contactos:contacto' contacto.slug %}">{{ contacto.nombre }}</a></td>
                        <td>{{ contacto.apellido }}</td>
                        {% if not contacto.empresa.all %}
                            <td></td>
                        {% else %}
                            <td>{{ contacto.empresa.all|join:", " }}</td>
                        {% endif %}
                        <td>{{ contacto.pertenece_set.get.area }}</td>
                        <td>{{ contacto.correo_electronico }}</td>
                        {% if contacto.is_cliente %}
                            <td>Cliente</td>
                        {% else %}
                            <td>Prospecto</td>
                        {% endif %}
                        
                        <td>{{ contacto.calificacion }}</td>
                        <td>{{ contacto.atiende_set.get.vendedor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $('#example').dataTable( {
                "order": [[ 3, "desc" ]]
            } );
        } );
    </script>

{% endblock content%}