{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Información del contacto</h1>
        </div>
    </div>
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{contacto.nombre}} {{contacto.apellido}}</h3>
                  </div>
                  <div class="panel-body">
                    Empresa: {{ pertenece.empresa.nombre }}</br>
                    Área: {{ pertenece.area }} </br>
                    Correo electrónico: {{ contacto.correo_electronico}}</br>
                    {% for numero in numeros_list %}
                        {{ numero.tipo_numero }} : {{ numero.numero}} </br>
                    {% endfor %}
                    Tipo: 
                        {% if contacto.is_cliente %}
                        Cliente </br>
                    {% else %}
                        Prospecto </br>
                    {% endif %}
                    Calificación: {{calificacion.calificacion}}
                  </div>
                </div>            
                {% if no_es_vendedor %}
                    <div class="row">
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="btn_submitContacto" class="btn btn-danger pull-right"  id="boton_eliminar">Eliminar</button>

                                <button style="margin-right: 5px" type="btn_submitContacto" class="btn btn-success pull-right">Editar</button>

                                <a href="{% url 'contactos:asignar_vendedor' contacto.id %}">
                                    <button style="margin-right: 5px"  type="btn_submitContacto" class="btn btn-success pull-right">Asignar vendedor</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                     <div class="row">
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="btn_submitContacto" class="btn btn-danger pull-right"  id="boton_eliminar">Eliminar</button>
                                
                                <button style="margin-right: 5px" type="btn_submitContacto" class="btn btn-success pull-right">Editar</button>

                            </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="row pull-right">
                        <div class="col-sm-12 pull-right">
                            <a href="{% url 'contactos:eliminar_contacto' contacto.id %}" id="boton_confirmar">Sí quiero borrar</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="page-header">
            <h1>Cotizaciones asociadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableCotizaciones">
            <thead>
                <tr>
                    <th>ID Cotización</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for cotizacion in cotizaciones_list %}
                    {% if cotizacion.is_active %}
                        {% if cotizacion.is_pendiente %}
                            <tr class="link_fila">
                                <td><a href="{% url 'cotizaciones:cotizacion' cotizacion.id %}">{{ cotizacion.id }}</a></td>
                                <td>{{ pertenece.empresa }}</td>
                                <td>{{ cotizacion.descripcion }}</td>
                                <td>{{ cotizacion.monto }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Ventas asociadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableVentas">
            <thead>
                <tr>
                    <th>ID Venta</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto Total</th>
                    <th>Monto Restante</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas_list %}
                    {% if venta.is_active %}
                        <tr class="link_fila">
                            <td><a href="{% url 'cotizaciones:venta' venta.id %}">{{ venta.id }}</a></td>
                            <td>{{ venta.cotizacion.contacto.empresa.get }}</td>
                            <td>{{ venta.cotizacion.descripcion }}</td>
                            <td>{{ venta.monto_total }}</td>
                            <td>{{ venta.monto_total }}</td>
                            {% if venta.is_completada %}
                                <td>Completada</td>
                            {% else %}
                                <td>Pendiente</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Llamadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableLlamadas">
            <thead>
                <tr class="link_fila">
                    <th>Fecha</th>
                    <th>Descripcion</a></th>
                </tr>
            </thead>
            <tbody>
                {% for llamada in llamadas_list %}
                    {% if llamada.is_active %}
                        {% if llamada.contacto == contacto %}
                            <tr>
                                <td>{{ llamada.fecha }}</td>
                                <td>{{ llamada.descripcion }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if no_es_vendedor %} <!-- if true, es director -->
        <div class="container">
            <div class="page-header">
                <h1>Notas</h1>
            </div>
        </div>
        <div class="container">
            <table class="sortable table table-hover" id="tableLlamadas">
                <thead>
                    <tr>
                        <th>Descripcion</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for nota in notas_list %}
                        {% if nota.is_active %}
                            {% if nota.contacto == contacto %}
                                <tr class="link_fila">
                                    <td><a href="{% url 'contactos:nota' nota.id %}">{{nota.id}}</a></td>
                                    <td>{{ nota.descripcion }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if no_es_vendedor %} <!-- if true, es director -->
        <div class="container">
            <div class="page-header">
                <h1>Recordatorios</h1>
            </div>
        </div>
        <div class="container">
            <table class="sortable table table-hover" id="tableLlamadas">
                <thead>
                    <tr>
                        <th>Fecha</a></th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recordatorio in recordatorios_list %}
                        {% if recordatorio.is_active %}
                            {% if recordatorio.contacto == contacto %}
                                <tr>
                                    <td>{{ recordatorio.fecha }}</td>
                                    <td>{{ recordatorio.descripcion }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock content%}