{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Información del cliente</h1>
        </div>
    </div>
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{contacto.nombre}} {{contacto.apellido}}</h3>
                  </div>
                  <div class="panel-body">
                    {{ pertenece.empresa.nombre }}</br>
                    {{ pertenece.area }} </br>
                    {{ contacto.correo_electronico}}</br>
                    {% for numero in numeros_list %}
                        {{ numero.tipo_numero }} : {{ numero.numero}} </br>
                    {% endfor %}
                    {% if contacto.is_cliente %}
                        Cliente </br>
                    {% else %}
                        Prospecto </br>
                    {% endif %}
                    Calificación: {{calificacion.calificacion}}
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>Cotizaciones asociadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            {% for cotizacion in cotizaciones_list %}
                <tbody>
                    <tr>
                        <td><a href="{% url 'cotizaciones:cotizacion' cotizacion.id %}">{{ cotizacion.id }}</a></td>
                        <td>{{ pertenece.empresa }}</td>
                        <td>{{ cotizacion.descripcion }}</td>
                        <td>{{ cotizacion.monto }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Ventas asociadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID Cotización</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto Total</th>
                    <th>Monto Restante</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for cotizacion in cotizaciones_list %}
                    {% if cotizacion.venta %}
                        <tr>
                            <td><a href="{% url 'cotizaciones:cotizacion' cotizacion.id %}">{{ cotizacion.id }}</a></td>
                            <td>{{ pertenece.empresa }}</td>
                            <td>{{ cotizacion.descripcion }}</td>
                            <td>{{ cotizacion.venta.monto_total }}</td>
                            <td>{{ cotizacion.venta.monto_total }}</td>
                            {% if cotizacion.venta.is_completada %}
                                <td>Completada</td>
                            {% else %}
                                <td>Pendiente</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Llamadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for llamada in llamadas_list %}
                    {% if llamada.contacto.nombre = contacto.nombre %}
                        <tr>
                            <td>{{ llamada.fecha }}</td>
                            <td>{{ llamada.descripcion }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}