{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Notas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableContactos">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">ID Nota</a></th>
                    <th class="table-head"><a href="#">Contacto</a></th>
                    <th class="table-head"><a href="#">Descripción</a></th>
                    <th class="table-head"><a href="#">Clasificación</a></th>
            </thead>
            <tbody>
                {% for nota in notas_list %}
                    {% if nota.is_active %}
                        <tr>
                            <td><a href="{% url 'contactos:nota' nota.id %}">{{ nota.id }}</a></td>
                            <td>{{ nota.contacto }}</td>
                            <td>{{ nota }}</td>
                            <td>{{ nota.clasificacion }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <div class="container">
        <div class="row pull-right">
            <form class="form-horizontal" action="{% url 'contactos:registrar_nota' %}">
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-success pull-left" id='crear_nota'>Crear nueva nota</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
