{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Recordatorio de {{ nota.contacto.nombre }} {{ nota.contacto.apellido }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Clasificación: {{ nota.clasificacion }}</h3>
                  </div>
                  <div class="panel-body">
                    <br>
                    {{ nota.descripcion }}
                  </div>
                </div>

                <div class="row">
                    <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="btn_submitContacto" class="btn btn-danger pull-right"  id="boton_eliminar">Eliminar</button>
                            <a href="{% url 'contactos:eliminar_nota' nota.id %}" id="boton_confirmar"> si quiero borrar </a>

                            <button style="margin-right: 5px" type="btn_submitContacto" class="btn btn-success pull-right">Editar</button>

                            <a href="{% url 'contactos:consultar_notas' %}"><button style="margin-right: 5px" type="btn_submitContacto" class="btn btn-success pull-right">Volver a notas</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function(){
        $("#boton_confirmar").hide();
        $("#boton_eliminar").click(function(){
            $("#boton_confirmar").show();
        });
    }); 
</script>

{% endblock content%}