{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Registrar Contactos</h1>
        </div>
    </div>
	  

    <div class="container">

	  <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="{% url  'empresas:registrar_empresa' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Industry-256.png" %}" alt="">
                        <h2>Registrar empresa</h2>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="RegistrarContacto.html" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Customer-256.png" %}" alt="">
                        <h2>Registrar contacto</h2>
                    </a>
                </div>
            </div>
        </div>
	</div> <!-- /container -->

{% endblock content%}