Django==1.7.3
django-bower==5.0.3
django-grappelli==2.6.4
django-nvd3==0.8.2
google-api-python-client==1.4.0
httplib2==0.9.1
Jinja2==2.7.3
MarkupSafe==0.23
oauth2client==1.4.7
Pillow==2.7.0
psycopg2==2.6
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-nvd3==0.13.7
python-slugify==0.0.9
rsa==3.1.4
selenium==2.45.0
simplejson==3.6.5
six==1.9.0
Unidecode==0.4.17
uritemplate==0.6
