Django==1.7.3
django-bower==5.0.3
django-grappelli==2.6.4
django-nvd3==0.8.2
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.7.0
psycopg2==2.6
python-nvd3==0.13.7
python-slugify==0.0.9
six==1.9.0
Unidecode==0.4.17
