{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todas las cotizaciones</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row pull-right">
            <form action="search_cotizaciones" class="form-horizontal">
                <div class="col-sm-8 col-xs-8">
                    <input type="text" class="form-control" id="txt_search_cotizaciones">
                </div>
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-right">Buscar</button>
                </div>
            </form>
        </div>
            
    </div>

    <div class="container">
        <table class="sortable table table-hover">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">ID</a></th>
                    <th class="table-head"><a href="#">Cliente</a></th>
                    <th class="table-head"><a href="#">Empresa</a></th>
                    <th class="table-head"><a href="#">Descripción</a></th>
                    <th class="table-head"><a href="#">Monto</a></th>
                </tr>
            </thead>
            <tbody>
                {% for cotizacion in cotizaciones_list %}
                    {% if cotizacion.is_pendiente %}
                        <tr><td><a href="{% url 'cotizaciones:cotizacion' cotizacion.id %}">{{ cotizacion.id }}</a></td>
                            <td>{{cotizacion.contacto}}</td>
                                {% if not cotizacion.contacto.empresa.all%}
                                    <td></td>
                                {% else %}
                                    {% for e in cotizacion.contacto.empresa.all%}
                                        <td>{{e}}</td>
                                    {% endfor %}
                                {%  endif %}
                            <td>{{cotizacion.descripcion}}</td>
                            <td>{{cotizacion.monto}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}