{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todas las cotizaciones</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row pull-right">
            <form action="search_cotizaciones" class="form-horizontal">
                <div class="col-sm-8 col-xs-8">
                    <input type="text" class="form-control" id="txt_search_cotizaciones">
                </div>
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-right">Buscar</button>
                </div>
            </form>
        </div>
            
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for c in cotizaciones_list %}
                    <tr>
                        <td><a href="...Consultar/Cotizaciones?idCotizacion">1</a></td>
                        <td>{{c.contacto}}</td>
                            {% if not c.contacto.empresa.all%}
                                <td></td>
                            {% else %}
                                {% for e in c.contacto.empresa.all%}
                                    <td>{{e}}</td>
                                {% endfor %}
                            {%  endif %}
                        <td>{{c.descripcion}}</td>
                        <td>{{c.monto}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}