{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todas las ventas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableVentas">
            <thead>
                <tr>
                    <th>ID Venta</th>
                    <th>Cliente</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto Total</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas_list %}
                <tr>
                    <td><a href="{% url 'cotizaciones:venta' venta.id %}">{{ venta.id }}</a></td>
                    <td>{{ venta.cotizacion.contacto }}</td>
                    <td>{{ venta.cotizacion.contacto.empresa.get }}</td>
                    <td>{{ venta.cotizacion.descripcion }}</td>
                    <td>{{ venta.monto_total }}</td>
                    {% if venta.is_completada %}
                        <td>Completada</td>
                    {% else %}
                        <td>Pendiente</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}