{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todas las empresas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableContactos">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">RFC</a></th>
                    <th class="table-head"><a href="#">Nombre</a></th>
                </tr>
            </thead>
            <tbody id="tabla_empresas">
                {% for empresa in empresas_list %}
                    <tr>
                        <td><a href="{% url 'empresas:empresa' empresa.slug %}">{{ empresa.rfc }}</a></td>
                        <td>{{ empresa.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $('#txt_search_empresas').keyup(function(){
            var texto;
            texto = $(this).val();
            $.get("{% url 'empresas:search_empresas' %}", {'texto' : texto}, function(data) {
                $('#tabla_empresas').html(data);
            });
        });
    </script>

{% endblock content%}