{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Registrar empresa</h1>
        </div>
    </div>

    
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
                <form id="category_form" method="post" action="{% url 'empresas:registrar_empresa' %}">

                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="control-label col-sm-4" for="txt_nombreEmpresa">{{ field.help_text }}</label>
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                        
                    {% endfor %}

                    {% for hidden in formDireccion.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dirección:</label>
                            <div class="col-sm-8" id="direccionEmpresa">

                        {% for field in formDireccion.visible_fields %}
                            {{ field.errors }}
                                <div class="row" style="margin-bottom: 5px;">
                                    <label class="control-label col-sm-4">{{ field.help_text }}</label>
                                    <div class="col-sm-8">
                                        {{ field }}
                                    </div>
                                </div>
                        {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% for hidden in formNumeroTelefonico.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="row" style="margin-bottom:5px;">
                        <div class="form-group">
                            {{ formNumeroTelefonico.numero.errors }}
                            {{ formNumeroTelefonico.tipo_numero.errors }}
                            <label class="control-label col-sm-4" for="txt_redSocEmpresa">Teléfono:</label>
                            <div class="col-sm-5">
                                {{ formNumeroTelefonico.numero }}
                            </div>
                            <div class="col-sm-3">
                                {{ formNumeroTelefonico.tipo_numero}}
                            </div>
                        </div>
                    </div>

                    {% for hidden in formRedSocial.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="row" style="margin-bottom:5px;">
                        <div class="form-group">
                            {{ formRedSocial.link.errors }}
                            {{ formRedSocial.tipo_red_social.errors }}
                            <label class="control-label col-sm-4" for="txt_redSocEmpresa">Redes Sociales:</label>
                            <div class="col-sm-5">
                                {{ formRedSocial.link }}
                            </div>
                            <div class="col-sm-3">
                                {{ formRedSocial.tipo_red_social }}
                            </div>
                        </div>
                    </div>

                    <input type="submit" name="submit" class="btn btn-success pull-right" value="Registrar" />
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#id_estado').change(function(){
            var estado_id;
            estado_id = $(this).val();
            $.get("{% url 'empresas:get_municipio' %}", {estado_id : estado_id}, function(data) {
                $('#id_municipio').html(data);
            });
        });
    </script>

{% endblock content%}