{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Notas</h1>
        </div>
    </div>


    <div class="container">
        <div class="row pull-left">
            <form action="crear_nota" class="form-horizontal">
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-success pull-left">Crear nueva nota</button>
                </div>
            </form>
        </div>
        <div class="row pull-right">
            <form action="search_notas" class="form-horizontal">
                <div class="col-sm-8 col-xs-8">
                    <input type="text" class="form-control" id="txt_search_notas">
                </div>
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-right">Buscar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID Nota</th>
                    <th>Contacto</th>
                    <th>Clasificación</th>
                    <th>Descripción</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="...Consultar/Cotizaciones?idCotizacion">1</a></td>
                    <td>Juan Pérez</td>
                    <td>3</td>
                    <td>Tenerlo en cuenta para proyecto de marcadoras.</td>
                </tr>
                <tr>
                    <td><a href="...Consultar/Cotizaciones?idCotizacion">2</a></td>
                    <td>John Perez</td>
                    <td>2</td>
                    <td>Me cae mal.</td>
                </tr>
                <tr>
                    <td><a href="...Consultar/Cotizaciones?idCotizacion">3</a></td>
                    <td>Adalaid Carranza</td>
                    <td>3</td>
                    <td>Muy buen cliente.</td>
                </tr>
                <tr>
                    <td><a href="...Consultar/Cotizaciones?idCotizacion">4</a></td>
                    <td>Georges Lucas</td>
                    <td>1</td>
                    <td>Posiblemente se cambie de empresa.</td>
                </tr>
            </tbody>
        </table>
    </div>
           
{% endblock content%}