{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todos los contactos</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row pull-right">
            <form action="search_contactos" class="form-horizontal">
                <div class="col-sm-8 col-xs-8">
                    <input type="text" class="form-control" id="txt_search_contactos">
                </div>
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-right">Buscar</button>
                </div>
            </form>
        </div>
            
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="example">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">ID Vendedor</a></th>
                    <th class="table-head"><a href="#">Nombre</a></th>
                </tr>
            </thead>
            <tbody>
                {% for vendedor in vendedores_list %}
                    <tr>
                        <td><a href="{% url 'principal:vendedor' vendedor.id %}">{{ vendedor.id }}</a></td>
                        <td>{{ vendedor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}