{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Consultar</h1>
        </div>
    </div>

    
    <div class="container">
        {% if no_es_vendedor %}
        <div class="jumbotron" style="text-align: center;">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="{% url 'empresas:consultar_empresas' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Industry-256.png" %}" alt="">
                        <h2>Empresas</h2>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="{% url 'contactos:consultar_contactos' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Customer-256.png" %}" alt="">
                        <h2>Contactos</h2>
                    </a>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="{% url 'cotizaciones:consultar_cotizaciones' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Cotizacion-256.png" %}" alt="">
                        <h2>Cotizaciones</h2>
                    </a>
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a href="{% url 'cotizaciones:consultar_ventas' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Money-256.png" %}" alt="">
                        <h2>Ventas</h2>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a href="Consultar/Vendedores.html" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/employee.png" %}" alt="">
                        <h2>Vendedores</h2>
                    </a>
                </div>
            </div>
        </div>

        {% else %}
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="text-align: center;">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{% url 'empresas:consultar_empresas' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Industry-256.png" %}"alt="">
                        <h2>Empresas</h2>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{% url 'contactos:consultar_contactos' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Customer-256.png" %}" alt="">
                        <h2>Contactos</h2>
                    </a>
                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{% url 'cotizaciones:consultar_cotizaciones' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Cotizacion-256.png" %}" alt="">
                        <h2>Cotizaciones</h2>
                    </a>
                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{% url 'cotizaciones:consultar_ventas' %}" class="menu_submenu_link">
                        <img class="img-responsive center-block" src="{% static "img/Money-256.png" %}" alt="">
                        <h2>Ventas</h2>
                    </a>
                    
                </div>
            </div>
        </div>
        
        {% endif %}

    </div> <!-- /container -->
    
{% endblock content%}