{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todos los vendedores</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableContactos">
            <thead>
                <tr>
                    <th>ID Vendedor</th>
                    <th>Nombre</a></th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for vendedor in vendedores_list %}
                    <tr>
                        <td><a href="{% url 'principal:vendedor' vendedor.id %}">{{ vendedor.id }}</a></td>
                        <td>{{ vendedor.user.first_name }} {{vendedor.user.last_name}}</td>
                        <td>{{ vendedor.user.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    
    <div class="container">
        <div class="row pull-right">
            <div class="col-sm-4 col-xs-4">
                <a href="{% url 'principal:registrar_vendedor' %}"><button type="submit" class="btn btn-success pull-left">Registrar nuevo vendedor</button></a>
            </div>
        </div>
    </div>

{% endblock content%}