{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Información general</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="btn_submitContacto" class="btn btn-success pull-right"onclick="window.print()">Generar Reporte</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>Nuevos contactos</h1>
        </div>
    </div>
    <div class="container">
        <table class="sortable table table-hover" id="tableContactos">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">Nombre</a></th>
                    <th class="table-head"><a href="#">Apellido</a></th>
                    <th class="table-head"><a href="#">Empresas</a></th>
                    <th class="table-head"><a href="#">Área</a></th>
                    <th class="table-head"><a href="#">Email</a></th>
                    <th class="table-head"><a href="#">Estatus</a></th>
                    <th class="table-head"><a href="#">Calificación</a></th>
                    <th class="table-head"><a href="#">Encargado</a></th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos_list %}
                    {% if contacto.is_active %}
                        <tr class="link_fila">
                            <td><a href="{% url 'contactos:contacto' contacto.slug %}">{{ contacto.nombre }}</a></td>
                            <td>{{ contacto.apellido }}</td>
                            {% if not contacto.empresa.all %}
                                <td></td>
                            {% else %}
                                <td>{{ contacto.empresa.all|join:", " }}</td>
                            {% endif %}
                            <td>{{ contacto.pertenece_set.get.area }}</td>
                            <td>{{ contacto.correo_electronico }}</td>
                            {% if contacto.is_cliente %}
                                <td>Cliente</td>
                            {% else %}
                                <td>Prospecto</td>
                            {% endif %}
                            
                            <td>{{ contacto.calificacion }}</td>
                            <td>
                                {% for atiende in contacto.atiende_set.all %}
                                    {% if forloop.last %}
                                        {{ atiende.vendedor }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="container">
        <div class="page-header">
            <h1>Nuevas Cotizaciones</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableCotizaciones">
            <thead>
                <tr>
                    <th>ID Cotización</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Encargado</th>
                </tr>
            </thead>
            <tbody>
                {% for cotizacion in cotizaciones_list %}
                    {% if cotizacion.is_active %}
                        {% if cotizacion.is_pendiente %}
                            <tr class="link_fila">
                                <td><a href="{% url 'cotizaciones:cotizacion' cotizacion.id %}">{{ cotizacion.id }}</a></td>
                                <td>{{ cotizacion.contacto.empresa.get }}</td>
                                <td>{{ cotizacion.descripcion }}</td>
                                <td>{{ cotizacion.monto }}</td>
                                <td>{{ cotizacion.fecha_creacion }}</td>
                                <td>{{ cotizacion.contacto.vendedor.get }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Nuevas Ventas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableVentas">
            <thead>
                <tr>
                    <th>ID Venta</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto Total</th>
                    <th>Monto Restante</th>
                    <th>Estatus</th>
                    <th>Encargado</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas_list %}
                    {% if venta.is_active %}
                        <tr class="link_fila">
                            <td><a href="{% url 'cotizaciones:venta' venta.id %}">{{ venta.id }}</a></td>
                            <td>{{ venta.cotizacion.contacto.empresa.get }}</td>
                            <td>{{ venta.cotizacion.descripcion }}</td>
                            <td>{{ venta.monto_total }}</td>
                            <td>{{ venta.monto_total }}</td>
                            {% if venta.is_completada %}
                                <td>Completada</td>
                            {% else %}
                                <td>Pendiente</td>
                            {% endif %}
                            <td>{{ venta.cotizacion.contacto.vendedor.get }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}