{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Inicio</h1>
        </div>
    </div>

    <div class="container">

    {% if no_es_vendedor %}
    <div class="jumbotron" style="text-align: center;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'principal:consultar' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/Search-256.png" %}" alt="">
                    <h2>Consultar</h2>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'contactos:consultar_notas' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/notes.png" %}" alt="">
                    <h2>Notas</h2>
                </a>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'contactos:consultar_recordatorios' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/reminder.png" %}" alt="">
                    <h2>Recordatorios</h2>
                </a>   
            </div>
        </div>
    </div>

    {% else %}
    <div class="jumbotron" style="text-align: center;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{% url 'contactos:registrar_contactos' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/Auto-Archive-256.png" %}" alt="">
                    <h2>Registrar contacto</h2>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{% url 'contactos:registrar_llamada' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/Phone-256.png" %}" alt="">
                    <h2>Registrar llamada</h2>
                </a>
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{% url 'cotizaciones:registrar_cotizacion' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/Dollar-256.png" %}" alt="">
                    <h2>Registrar cotización</h2>
                </a>
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{% url 'principal:consultar' %}" class="menu_submenu_link">
                    <img class="img-responsive center-block" height="195" width="195" src="{% static "img/Search-256.png" %}" alt="">
                    <h2>Consultar</h2>
                </a>
                
            </div>
        </div>
    </div>    
    {% endif %}

{% endblock content%}