<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Claand</title>
    <link rel="shortcut icon" href="{% static "img/ClaandLogo.png" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    <!-- <link href="navbar-fixed-top.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/login.js" %}"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'principal:login' %}"><img src="{% static "img/Logo.png" %}" alt="Claand" style="width: 70px; height: 35px; margin-top: -10px"> </a>

        </div>
    </div>
</nav>

<section id="login">
    <div class="container">
    	<div class="row row-centered">
    	    <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
        	    <div class="form-wrap">
                <h1>Ingresa con tu usuario</h1>
                {% if errors %}
                <p>Usuario y contraseña incorrectos. Por favor inténtalo de nuevo.</p>
                {% endif %}
                    <form class="form-horizontal" action="{% url 'principal:login' %}" method="post" id="login_form" autocomplete="off">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="sr-only">Usuario</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Usuario" size="50">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" size="50">
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Mostrar contraseña</span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Ingresar">
                    </form>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">¿Olvidaste tu contraseña?</a>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Recuperar contraseña</h4>
			</div>
			<div class="modal-body">
				<p>Usuario</p>
				<input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelaar</button>
				<button type="button" class="btn btn-custom">Recuperar</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Claand © - 2015</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>