{% extends "base.html" %}

{% load static %}
{% block content %}

	{% if errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
    <form id="login_form" method="post" action="{% url 'principal:login' %}">
        {% csrf_token %}
    	Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" />
    </form>


{% endblock content%}