{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{ vendedor }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>Cotizaciones asociadas</h1>
        </div>
    </div>
    <div class="container">
        <table class="sortable table table-hover" id="tableCotizaciones">
            <thead>
                <tr>
                    <th>ID Cotización</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for cotizacion in cotizaciones_list %}
                    {% if cotizacion.is_pendiente %}
                        <tr>
                            <td><a href="{% url 'cotizaciones:cotizacion' cotizacion.id %}">{{ cotizacion.id }}</a></td>
                            <td>{{ cotizacion.contacto.empresa.get }}</td>
                            <td>{{ cotizacion.descripcion }}</td>
                            <td>{{ cotizacion.monto }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Ventas asociadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover" id="tableVentas">
            <thead>
                <tr>
                    <th>ID Venta</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Monto Total</th>
                    <th>Monto Restante</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas_list %}
                    <tr>
                        <td><a href="{% url 'cotizaciones:venta' venta.id %}">{{ venta.id }}</a></td>
                        <td>{{ venta.cotizacion.contacto.empresa.get }}</td>
                        <td>{{ venta.cotizacion.descripcion }}</td>
                        <td>{{ venta.cotizacion.venta.monto_total }}</td>
                        <td>{{ venta.cotizacion.venta.monto_total }}</td>
                        {% if venta.is_completada %}
                            <td>Completada</td>
                        {% else %}
                            <td>Pendiente</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Llamadas</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableLlamadas">
            <thead>
                <tr>
                    <th>Contacto</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for llamada in llamadas_list %}
                    <tr>
                        <td>{{ llamada.contacto }}</td>
                        <td>{{ llamada.fecha }}</td>
                        <td>{{ llamada.descripcion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}